* {
    padding: 0;
    margin: 0;
    block-size: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: rgb(141, 199, 179);
}
#main{
    height: 100vh;
    width: 100vw;
}
#container{
    height: 80vh;
    border: 1px solid;
    width: 25%;
    margin: auto;

}
#front{
    border: 1px solid;
    height: 100%;width: 100%;
    background-color: #f5f5f5;
    text-align: center;
}
#top{
    background-color: red;
    width: 20%;
    height: 10%;
    margin: 0 auto;
    border-radius: 70%;
    /* border-bottom-right-radius: 100%; */
    margin-top: -8%;
    text-align: center;
    padding-top: 15px;
}
#top h3{
    position: absolute;
    margin-top: 20px;
    margin-left: 1%;
    color: #fff;
    font-size: small;
}
h2{
    margin-top: 7%;
    color: rgb(252, 42, 42);
}
h6{
    text-transform:uppercase ;
    font-size: 6px;
    line-height: 7px;
}